<div class="high-risk-header"> HIGH RISK ({{anc.highRisk.length}}) </div>
<div class="divider divider-padding-both"></div>
{{#each anc.highRisk}}
    <div class="row-fluid">
        <a data-caseId={{caseId}} class="client-list-item" onClick="javascript: return true;">
            <div class="span9">
                <ul class="client-details unstyled">

                    <li class="big-text">
                        {{womanName}}
                        <span class="high-risk"> HRP </span>
                    </li>
                    <li>{{husbandName}}</li>
                    <li>
                     Thaayi #: {{thaayiCardNumber}}
                    </li>
                </ul>
            </div>

            <div class="span3 pull-text-completely-right">
                {{villageName}} 
            </div>
			<div class = "span3">
				{{#if hasTodos}}
				<div class = "todo pull-text-completely-right">
					<img src="../img/icons/icon-hastodo.png"> </img>
               	</div>
				{{/if}}
			</div>

            <div class="divider divider-padding-both"></div>
        </a>
    </div>
{{/each}}

<div class="normal-risk-header"> NORMAL RISK ({{anc.normalRisk.length}}) </div>
<div class="divider divider-padding-both"></div>
{{#each anc.normalRisk}}
    <div class="row-fluid">
        <a data-caseId={{caseId}} class="client-list-item" onClick="javascript: return true;">
            <div class="span9">
                <ul class="client-details unstyled">
                    <li class="big-text">
                        {{womanName}}
                    </li>
                    <li>{{husbandName}}</li>
                    <li>
                     Thaayi #: {{thaayiCardNumber}}
					</li>
                </ul>
            </div>

            <div class="span3 pull-text-completely-right">
				{{villageName}}
			</div>
			<div class = "span3">
				{{#if hasTodos}} 
				<div class = "todo pull-text-completely-right">
					<img src="../img/icons/icon-hastodo.png"> </img>
                </div>
				{{/if}}
			</div>

            <div class="divider divider-padding-both"></div>
        </a>
    </div>
{{/each}}

