<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <a class="brand in-navbar affected-by-sidepanel" href="#">
            <span class="name ellipsis">{{anmName}}</span>
        </a>

        <ul class="nav pull-right">
            <li class="divider-vertical list"></li>
            <li><i class="navbar-icon icon-cog icon-white" href="#"></i></li>
        </ul>
    </div>
</div>

<div class="content">
    <div class="menu-button-container container-fluid">
        <div class="row-fluid">
            <div class="menu-button span6" id="workplanButton">
                <img src="../img/icons/nav-workplan.png" class="menu-icon"><br>
                Workplan
            </div>
            <div class="menu-button span6" id="inboxButton">
                <img src="../img/icons/nav-inbox.png" class="menu-icon"><br>
                Inbox
            </div>
        </div>
        <div class="row-fluid menu-button-row-padding">
            <div class="menu-button span6" id="myStatsButton">
                <img src="../img/icons/nav-activity.png" class="menu-icon"><br>
                My Stats
            </div>
            <div class="menu-button span6" id="reportsButton">
                <img src="../img/icons/nav-reporting.png" class="menu-icon"><br>
                Reporting
            </div>
        </div>
        <div class="menu-option row-fluid" id="eligibleCoupleMenuOption">
            <div class="span1">
                <img src="../img/icons/nav-ec.png">
            </div>
            <div class="span9">Eligible Couple</div>
            <div class="span2 pull-text-completely-right">{{eligibleCoupleCount}}</div>
        </div>
        <div class="menu-option-divider"></div>

        <div class="menu-option row-fluid">
            <div class="span1">
                <img src="../img/icons/nav-anc.png">
            </div>
            <div class="span9">ANC</div>
            <div class="span2 pull-text-completely-right">{{ancCount}}</div>
        </div>
        <div class="menu-option-divider"></div>

        <div class="menu-option row-fluid">
            <div class="span1">
                <img src="../img/icons/nav-pnc.png">
            </div>
            <div class="span9">PNC</div>
            <div class="span2 pull-text-completely-right">{{pncCount}}</div>
        </div>
        <div class="menu-option-divider"></div>

        <div class="menu-option row-fluid">
            <div class="span1">
                <img src="../img/icons/nav-child.png">
            </div>
            <div class="span9">Child</div>
            <div class="span2 pull-text-completely-right">{{childCount}}</div>
        </div>
    </div>
</div>
