{{#if pregnancyDetails.isEDDPassed}}
    <div id="warning"></div>
    <div id="warning-modal-container" class="modal-container" style="display: block; ">
        <div id="modal-goes-here">
            <div id="ancWarningModal" class="modal-content" style="display: block; ">
                <div class="modal-row">EDD Passed! Please fill delivery Outcome form.</div>
                <div class="divider"></div>
                <div class="modal-row" data-form="ANC_DELIVERY_OUTCOME" data-caseid="{{caseId}}">Click here to fill delivery outcome Form.</div>
            </div>
        </div>
    </div>
{{/if}}
<div class="navbar navbar-fixed-top affected-by-sidepanel">
    <div class="navbar-inner">
        <ul class="nav pull-left">
             <li><img class="sidepanel-icon affected-by-sidepanel"><img class="separator"></li>
             <li><div class="name ellipsis">{{formatText coupleDetails.wifeName}}</div></li>
        </ul>

        <ul class="nav pull-right affected-by-sidepanel">
            <li><img class="separator"></li>
            <li data-modal-target="#ancFormModal"><img class="update-data"></li>
        </ul>
    </div>
</div>

<div id="ancFormModal" class="modal-content">
    <div class="modal-row" data-form="ANC_SERVICES" data-caseid="{{caseId}}">ANC visit</div>
    <div class="divider"></div>
    <div class="modal-row" data-form="ANC_DELIVERY_OUTCOME" data-caseid="{{caseId}}">Delivery outcome</div>
    <div class="divider"></div>
    <div class="modal-row" data-form="ANC_CLOSE" data-caseid="{{caseId}}">Close ANC record</div>
</div>

<div id="content" class="content-detail affected-by-sidepanel">
    <div class="status-bar affected-by-sidepanel">
        {{#if coupleDetails.isInArea}}
        <span class="left-text">ANC</span>
        {{else}}
        <span class="left-text">Out of Area ANC</span>
        {{/if}}
        {{#ifFalse details.isHighRisk}}
        <span class="right-text high-risk">High Risk</span>
        {{else}}
        <span class="right-text normal-risk">Normal Risk</span>
        {{/ifFalse}}
    </div>
    <div class="registry-container container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <ul class="client-details unstyled">
                    <li class="big-text">{{formatText coupleDetails.wifeName}}</li>
                    <li class="medium-text spacing-below">{{capitalize coupleDetails.husbandName}}</li>
                    <li>{{formatText location.villageName}}</li>
                    <li class="light-text">{{#if coupleDetails.isInArea}}EC No: {{coupleDetails.ecNumber}}, {{/if}}TC No: {{thaayiCardNumber}}</li>
                </ul>
            </div>
        </div>
    </div>

    <div id="todos" class="registry-container container-fluid">
        {{#each urgentTodos}}
            {{#if isCompleted}}
                <div class="alert alert-todo completed" data-form="{{formToOpen}}" data-caseid="{{../../caseId}}" data-visitcode="{{visitCode}}">
                    <div class="row-fluid">
                        <div class="span2">
                            <img class="todo-box checked"/>
                        </div>
                        <div class="span10 alert-todo-message">
                            <div class="detail">{{message}} done on {{formatDate todoDate}}</div>
                        </div>
                    </div>
                </div>
            {{else}}
                <div class="alert alert-todo overdue" data-form="{{formToOpen}}" data-caseid="{{../../caseId}}" data-visitcode="{{visitCode}}">
                    <div class="row-fluid">
                        <div class="span2">
                            <img class="todo-box"/>
                        </div>
                        <div class="span10 alert-todo-message">
                            <div class="detail">{{message}} due by {{formatDate todoDate}}</div>
                        </div>
                    </div>
                </div>
            {{/if}}
        {{/each}}
        {{#each todos}}
            {{#if isCompleted}}
                <div class="alert alert-todo completed" data-form="{{formToOpen}}" data-caseid="{{../../caseId}}" data-visitcode="{{visitCode}}">
                    <div class="row-fluid">
                        <div class="span2">
                            <img class="todo-box checked"/>
                        </div>
                        <div class="span10 alert-todo-message">
                            <div class="detail">{{message}} done on {{formatDate todoDate}}</div>
                        </div>
                    </div>
                </div>
            {{else}}
                <div class="alert alert-todo upcoming" data-form="{{formToOpen}}" data-caseid="{{../../caseId}}" data-visitcode="{{visitCode}}">
                    <div class="row-fluid">
                        <div class="span2">
                            <img class="todo-box"/>
                        </div>
                        <div class="span10 alert-todo-message">
                            <div class="detail">{{message}} due by {{formatDate todoDate}}</div>
                        </div>
                    </div>
                </div>
            {{/if}}
        {{/each}}
    </div>

    <div class="divider"></div>


    <div class="registry-container container-fluid">
        <div class="big-text row-fluid detail-section-header">
            Summary
        </div>
        <div class="well well-for-beneficiary-details-no-padding">
            <div class="container-fluid container-no-padding">
                <div class="row-fluid beneficiary-detail-component">
                    <div class="beneficiary-detail-content">
                        {{#ifFalse details.isHighRisk}}
                            <div class="big-text high-risk">
                                <i class="icon-circle-arrow-up" style="margin-top: 3px;"></i> High Risk</span>
                            </div>
                            <div class="beneficiary-detail-footer risk-detail-text"><ul>{{camelCaseAndConvertToListItems details.highRiskReason}}</ul></div>
                        {{else}}
                            <div class="text-center big-text normal-risk">Normal Risk</div>
                        {{/ifFalse}}
                    </div>
                    <div class="divider"></div>
                    <div class="beneficiary-detail-content">
                        <div class="span6 text-center right-border info">
                            <span class="big-text-numbers">{{pregnancyDetails.monthsPregnant}}</span><br><span class="meta-summary-text">Months Pregnant</span>
                        </div>
                        <div class="span6 text-center info">
                            <span class="big-text-numbers">{{formatDate pregnancyDetails.edd}}</span><br><span class="meta-summary-text">EDD</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{#if pregnancyDetails.isLastMonthOfPregnancy}}
    <div class="registry-container container-fluid">
        <div class="big-text row-fluid detail-section-header">
            Delivery Plan
        </div>
        <div class="well well-for-beneficiary-details">
            <div class="container-fluid container-no-padding container-section">
                <div class="row-fluid beneficiary-detail-component">
                    <div class="span1">
                        <label class="checkbox">
                            <input type="checkbox">
                        </label>
                    </div>
                    <div class="span3">Facility</div>
                    <div class="span8">{{details.deliveryPlace}}</div>
                </div>
                <div class="row-fluid beneficiary-detail-component">
                    <div class="span1">
                        <label class="checkbox">
                            <input type="checkbox">
                        </label>
                    </div>
                    <div class="span3">Contact</div>
                    <div class="span8">{{details.ashaPhoneNumber}}</div>
                </div>
                <div class="row-fluid beneficiary-detail-component">
                    <div class="span1">
                        <label class="checkbox">
                            <input type="checkbox">
                        </label>
                    </div>
                    <div class="span3">ASHA</div>
                    <div class="span8">{{details.ashaName}}</div>
                </div>
            </div>
        </div>
    </div>
    {{/if}}

    <div class="registry-container container-fluid">
        <div class="big-text row-fluid detail-section-header">
            Timeline
        </div>
        <div class="well well-for-beneficiary-details-no-padding">
            <div class="container-fluid container-no-padding">
                {{#ifequal timelineEvents.length 0}}
                    <div class="row-fluid unavailable-data">
                        No medical history data available
                    </div>
                {{else}}
                    <div class="row-fluid beneficiary-detail-component">
                        <div class="beneficiary-detail-content">
                            <div class="timeline">
                                {{#each timelineEvents}}
									<div class="timeline-component row-fluid timelineEvent">
                                        <div class="span3 type {{this.type}}"></div>
                                        <div class="span5">
                                            <strong>{{title}}</strong><br>
                                            {{#each details}}
                                                {{{formatText this}}}<br>
                                            {{/each}}
                                        </div>
                                        <div class="span4 pull-right text-right">
                                            {{date}}
                                        </div>
                            		</div>
                                {{/each}}
                            </div>
						    <div class="container-section-component row-fluid show-more-button">
						        <div class = "divider"></div>
							    <div class = "expand"> Show more </div>
						    </div>
                        </div>
                    </div>
                {{/ifequal}}
            </div>
        </div>
    </div>
</div>
