<div class="navbar navbar-fixed-top affected-by-sidepanel">
    <div class="navbar-inner">
        <a class="brand in-navbar affected-by-sidepanel" href="#">
            <span class="navbar-brand-icon-holder affected-by-sidepanel"><i class="icon-book icon-white navbar-brand-icon"></i></span>
            <span class="name">ANC</span>
        </a>

        <ul class="nav pull-right affected-by-sidepanel">
            <li class="divider-vertical in-navbar"></li>
            <li id="plusButton" data-form="ANC_SERVICES" data-caseid="{{caseId}}" data-modal-target="#ancFormModal"><span class="navbar-text" href="#"><i class="icon-plus icon-white"></i> UPDATE</span></li>
        </ul>
    </div>
</div>

<div id="ancFormModal" class="modal-container">
</div>

<div id="content" class="content affected-by-sidepanel">
    <div class="registry-container container-fluid">
        {{#each alerts}}
        <div data-form="{{formToOpen}}" data-caseid="{{../caseId}}" class="alert profile-alert todo">
            <i class="icon-warning-sign"></i>
            <strong>{{message}}</strong>
        </div>
        {{/each}}

        <div class="row-fluid">
            <div id="ec-name" class="span10">
                <ul class="client-details unstyled">
                    <li class="big-text">{{womanName}}</li>
                    <li>{{location.villageName}}, {{location.subcenter}}</li>
                    <li>TC: {{thaayiCardNumber}}</li>
                </ul>
            </div>

            <div class="span2 pull-right">
                <a class="ec-information-button btn btn-inverse" href="#">
                    <i class="icon-user icon-white"></i>
                    <i class="icon-align-justify icon-white"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<div id="todos" class="registry-container container-fluid">
    {{#each todos}}
    <div data-form="{{formToOpen}}" data-caseid="{{../caseId}}" class="alert alert-info todo">
        <!-- <i class="icon-check"></i> -->

		<label class="checkbox">
			<input type="checkbox"> 
	        <strong>{{message}}</strong>
		</label>
    </div>
    {{/each}}

    <div class="divider"></div>
</div>

<div class="registry-container container-fluid">
    <div class="big-text row-fluid detail-section-header">
        ANC Summary
    </div>
    <div class="well well-for-beneficiary-details">
        <div class="container-fluid container-no-padding">
            <div class="row-fluid beneficiary-detail-component">
                <div class="beneficiary-detail-content">
                        {{#if pregnancyDetails.isHighRisk}}
                            <div class="text-center big-text high-risk">
                                <i class="icon-circle-arrow-up" style="margin-top: 3px;"></i> High Risk</span>
                            </div>
                            <div class="beneficiary-detail-footer risk-detail-text">{{pregnancyDetails.riskDetail}}</div>
                        {{else}}
                            <div class="text-center big-text normal-risk">Normal Risk</div>
                        {{/if}}
                </div>
                <div class="row-fluid beneficiary-detail-component">
                    <div class="beneficiary-detail-content">
                        <div class="span6 text-center">
                            <span class="big-text">{{pregnancyDetails.monthsPregnant}}</span><br><span class="meta-summary-text">Months Pregnant</span>
                        </div>
                        <div class="span6 text-center">
                            <span class="big-text">{{pregnancyDetails.edd}}</span><br><span class="meta-summary-text">EDD</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="registry-container container-fluid">
    <div class="big-text row-fluid detail-section-header">
        Delivery Plan
    </div>
    <div class="well well-for-beneficiary-details">
        <div class="container-fluid container-no-padding container-section">
            <div class="row-fluid beneficiary-detail-component">
                <div class="span1"><!-- <i class="icon-check"></i> --> 
					<label class="checkbox">
						<input type="checkbox">
					</label>
				</div>
				
                <div class="span3 big-text">Facility</div>
                <div class="span8">{{facilityDetails.facility}}</div>
            </div>
            <div class="row-fluid beneficiary-detail-component">
                <div class="span1"><!-- <i class="icon-check"></i> -->
					<label class="checkbox">
						<input type="checkbox">
					</label>
				</div>
                <div class="span3 big-text">Contact</div>
                <div class="span8">{{facilityDetails.contact}}</div>
            </div>
            <div class="row-fluid beneficiary-detail-component">
                <div class="span1"><!-- <i class="icon-check"></i> -->
					<label class="checkbox">
						<input type="checkbox">
					</label>
				</div>
                <div class="span3 big-text">ASHA</div>
                <div class="span8">{{facilityDetails.ashaName}}</div>
            </div>
        </div>
    </div>
</div>

<div class="registry-container container-fluid">
    <div class="big-text row-fluid detail-section-header">
        Timeline
    </div>
    <div class="well well-for-beneficiary-details">
        <div class="container-fluid container-no-padding">
            <div class="row-fluid beneficiary-detail-component">
                <div class="beneficiary-detail-content">
                    <div class="container-section container-fluid">
                        {{#each timelineEvents}}
                            <div class="container-section-component row-fluid">
                                    <div class="timeline dl">
                                        <div class="span2 {{this.status}} dt">
                                            <i class="icon-eye-open"></i>
                                        </div>
                                        <div class="span6 details-{{this.status}} dd">
                                            <strong>{{title}}</strong><br>
                                            {{#each details}}
                                            {{this}}<br>
                                            {{/each}}
                                        </div>
                                        <div class="span4 pull-right text-right details-{{this.status}} dd">
                                            {{date}}
                                        </div>
                                    </div>
                                </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
