{{#each this}}
<div class="child {{villageName}} client-list-item" data-caseId={{caseId}}>
    <div class="row-fluid" onClick="javascript: return true;">
        <div class="span8">
            <ul class="client-details unstyled">
                <li class="big-text">
                    B/O {{formatText motherName}}
                    {{#if isHighRisk}}<span class="high-risk"> HR </span>{{/if}}
                </li>
                <li>{{formatText fatherName}}</li>
                <li>
                    Thayi No: {{thayiCardNumber}}{{#if ecNumber}}, EC No: {{ecNumber}}{{/if}}
                </li>
            </ul>
        </div>

        <div class="span4 pull-text-completely-right">
            {{formatText villageName}}
            <br>
            {{#if hasTodos}}
            <div class="todo pull-text-completely-right">
                <img src="../img/icons/icon-hastodo.png">
            </div>
            {{/if}}
        </div>
    </div>

    <div class="divider divider-padding-bottom"></div>
</div>
{{/each}}
