{{#each this}}
<div class="ec {{villageName}} client-list-item" data-caseId={{caseId}}>
    <div class="row-fluid" onClick="javascript: return true;">
        <div class="span2">
            <img id="womanPhoto" src="file://{{photoPath}}" onerror="this.src='../img/woman-avatar.png';">
        </div>
        <div class="span6">
            <ul class="client-details unstyled">
                <li class="big-text">
                    {{capitalize wifeName}}
                    {{#if isHighPriority}}<span class="high-risk"> HP </span>{{/if}}
                </li>
                <li>{{husbandName}}</li>
                <li>
                    EC No: {{ecNumber}}{{#if thayiCardNumber}}, Thayi No: {{thayiCardNumber}}{{/if}}
                </li>
            </ul>
        </div>

        <div class="span4 pull-text-completely-right">
            {{formatText villageName}}
            <br>
            {{#if hasTodos}}
            <div class="todo pull-text-completely-right">
                <img src="../img/icons/icon-hastodo.png">
            </div>
            {{/if}}
        </div>
    </div>

    <div class="divider divider-padding-bottom"></div>
</div>
{{/each}}
