//TODO: #Delete
{{#each this}}
<div class="alert overdue alert-row {{villageName}}" data-form="{{formToOpen}}" data-caseid="{{caseId}}"
     data-visitcode="{{visitCode}}">
    <div class="row-fluid">
        <div class="span2">
            <img class="todo-box"/>
        </div>
        <div class="span10">
            <div class="dueDate">{{formatDate dueDate}}</div>
            <div class="beneficiaryName">{{beneficiaryName}}</div>
            <div class="husbandName">{{husbandName}}</div>
            <div class="detail">{{description}}</div>
        </div>
    </div>
</div>
{{/each}}
