<div class="navbar navbar-fixed-top affected-by-sidepanel">
    <div class="navbar-inner">
        <ul class="nav pull-left">
            <img class="sidepanel-icon affected-by-sidepanel"><img class="separator">
            <span class="name">{{categoryDescription}}</span>
        </ul>
    </div>
</div>

<div class="content affected-by-sidepanel">
    <div class="registry-container container-fluid">
        <div class="big-text-black">{{description}}</div>
        <table class="table table-bordered indicator-report">
            <tbody>
            {{#each monthlySummaries}}
            <tr class="indicator-monthly-report" data-month="{{month}}">
                <td>
                    <div class="report-medium">{{../annualTarget}}</div>
                    <div class="meta-summary-text">Target</div>
                </td>
                <td>
                    <div class="report-medium text-blue">{{currentProgress}}</div>
                    <div class="meta-summary-text">{{monthName month}} '{{shortYear year}}</div>
                </td>
                <td>
                    <div class="report-medium text-blue">{{aggregatedProgress}}</div>
                    <div class="meta-summary-text">Total</div>
                </td>
                <td>
                    <div class="report-medium text-green">{{percentage aggregatedProgress ../annualTarget}}</div>
                    <div class="meta-summary-text">Percent</div>
                </td>
            </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>
