<div class="navbar navbar-fixed-top affected-by-sidepanel">
    <div class="navbar-inner">
        <ul class="nav pull-left">
            <img class="sidepanel-icon affected-by-sidepanel"><img class="separator">
            <span class="name">{{description}}</span>
        </ul>
    </div>
</div>

<div class="content affected-by-sidepanel">
    <div class="registry-container container-fluid">
        {{#each indicatorReports}}
        <div class="big-text-black">{{description}}</div>
        <table class="table table-bordered indicator-report">
            <tbody>
            <tr>
                <td>
                    <div class="report-medium">{{annualTarget}}</div>
                    <div class="meta-summary-text">Annual Target</div>
                </td>
                <td>
                    <div class="report-medium text-blue">{{currentProgress}}</div>
                    <div class="meta-summary-text">in {{monthName currentMonth}}</div>
                </td>
                <td>
                    <div class="report-medium text-blue">{{aggregatedProgress}}</div>
                    <div class="meta-summary-text">Total to {{monthName currentMonth}}</div>
                </td>
                <td>
                    <div class="report-medium text-green">{{percentageOfTargetAchieved}}%</div>
                    <div class="meta-summary-text">Percent of Target</div>
                </td>
            </tr>
            </tbody>
        </table>
        {{/each}}
    </div>
</div>
