<table class="table table-bordered">
    <tbody>
    <tr>
        <td><i class="summary-icon icon-user"></i><span class="summary">{{totalAlertCount}} New Alerts</span></td>
    </tr>
    <tr>
        <td><i class="summary-icon icon-user"></i><span class="summary">{{totalReminderCount}} New Reminder</span></td>
    </tr>
    </tbody>
</table>

<h3 class="village-header">Villages</h3>

<table class="table table-bordered" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
    <tbody id="workplan-list">
    {{#each villages}}
        <tr class="workplanElement" data-village="{{name}}">
            <td><span class="summary">{{name}}</span><br/><span class="village-breakdown">{{#ifNotZero reminderCount}}{{reminderCount}} Reminders, {{/ifNotZero}}{{#ifNotZero alertCount}}{{alertCount}} Alerts{{/ifNotZero}}</span>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>
